@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center myText">
    <h1 class="display-4"><a asp-area="Users" asp-controller="NovaModel" asp-action="List">Aufwachen!</a></h1>
    <p></p>
</div>
